body {
    font-family: Lato, Arial, sans-serif;
}

h1 {
    color: #FFFFFF;
    padding-bottom: 20px;
    text-align: center;
    opacity: 0.8;
    /* font-weight: lighter; */
    max-width: 50%;
    margin: auto;
}

h1 img {
    position: relative;
    width: 50px;
    bottom: -15px;
}

h1::before {
    position: absolute;
    left: 0;
    top: 90px;
    background: linear-gradient(to right, rgba(255,255,255,0) 25%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 75%);
    height: 3px;
    width: 100%;
    content: '';
}

.fish-selector {
    margin: 40px;
    text-align: center;
    /* color: white; */
    font-size: 1.5em;
}

.fish-selector label{
  /* display: block; */
  margin: 15px;
  color: rgb(211, 207, 221);
}

.fish-selector select{
  display: inline-block;
  /* width: 250px; */
  height: 30px;
  color: rgb(73, 51, 119);
  font-size: 0.9em;
  /* border-color: thistle; */
  border-color: white;
  border-radius: 5px;
  background-color: rgb(214, 235, 255);
  text-align-last:center; 
}
.fish-info {
  text-align: center;
}

.fish-name {
  opacity: 0.9;
  float: left;
}
.fish-description {
  width: 70%;
  margin: 0% 15%;
  color: #FFFFFF;
  text-align: justify;
}

.fish-image {
  /* margin: 2%; */
  max-width: 500px;
  /* margin-bottom: 5%; */
}

/* for desktops, to have description and image next to each other */
@media screen and (min-width: 1024px) {
  #fish-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #fish-name {
    text-align: left;
  }
  .fish-description, .fish-image {
    /* text-align: left; */
    /* display: inline; */
    font-size: 1.1em;
    width: 100%;
    margin: 0px 0px 0px 70px;
  }
}

